/* Declaraçao de variaveis*/
:root{
    --vermelho: #E50914;
    --preta:    #141414;

}

/* Reseta as configuraçoes padroes para todos os navegadores assim padronizando o layout*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
}

/* Elementos Base*/
body{
    background: var(--preta);
    font-family: 'Arial',Times, serif;
    color: white;
}
/*Adiciona Flex-box*/
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Alinhamento do logo , font, cor, tamanho*/
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black',Times;
    font-size: 40px;
}
/*Remoçao de marcaçao d elink cor e margen*/
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
.botao a{
    text-decoration: none;

}

/* Evento/efeito(Hover) na bara de navegaçao*/
header nav a:hover{
    color: #fff;
}

/*Filme Principal*/

.filmeprincipal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('/src/img/img4.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filmeprincipal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;

    cursor: pointer;
    transition: .3s ease all;
    border-radius: 15px;
}
.botao:hover{
    background-color: white;
    color:black;
}
.botao i{
    margin-right: 8px;
    
}
.container{
    margin-left: 20px;
}
.filmeprincipal .container{
    width: 76%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 10px;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('/src/img/img4.jpg');
    background-size: cover;
    border-radius: 15px;
    

    
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
    animation-play-state: paused;
  }
  

